:root {
  --my-color: #817375;
}

.my-emphase {
  background-color: #CFD9DB;
  color: var(--my-color);
  font-size: .9rem;
}

.my-color-inverted {
  background-color: var(--my-color);
  color: white;
}

.my-date {
  color: grey;
  font-size: small;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
  color: var(--my-color);
}

h3 {
  font-size: 1.2rem;
  color: var(--my-color);
}
